body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.section{
    margin: 40px 10%;
}

.section h1{
    font-size: 55px;
    line-height: 40px;
}

.section h2{
    font-size: 45px;
    line-height: 30px;
}

.high-light{
    color:rgb(73, 174, 252);
}
.flex-container{
    display: flex;
}
.half-width{
    width: 50%;
    margin-right:40px;

}

.half-width img{
    width: 100%;
}

.section-content{
    margin-top: 50px;
}
.section-content p{
    padding-bottom: 30px;
}
.link-button{
    background-image: linear-gradient(rgb(73, 174, 252),#068FF7);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    
}
.person-section img{
    padding-top: 100px;
    width: 60%;
    
}

.section-background{
    background-image: url(img/hero-bg.jpg);
    width: 100%;
    background-size: cover;
}
.section-header h2{
    text-align: center;
}